Calculo de CPF
[{"id":"3f13ca6f.519e56","type":"tab","label":"Cálculo e CPF","disabled":false,"info":""},{"id":"e5699015.fd1","type":"inject","z":"3f13ca6f.519e56","name":"","topic":"","payload":"08286669894","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["37f806e.36b86fa"]]},{"id":"37f806e.36b86fa","type":"function","z":"3f13ca6f.519e56","name":"","func":"var strCPF = msg.payload;\n    var Soma;\n    var Resto;\n    Soma = 0;\n  if (strCPF == \"00000000000\") \n    return({payload:false});\n     \n  for (i=1; i<=9; i++) \n    Soma = Soma + parseInt(strCPF.substring(i-1, i)) * (11 - i);\n  Resto = (Soma * 10) % 11;\n   \n    if ((Resto == 10) || (Resto == 11))  \n        Resto = 0;\n    if (Resto != parseInt(strCPF.substring(9, 10)) ) \n        return({payload:false});\n   \n  Soma = 0;\n    for (i = 1; i <= 10; i++) \n        Soma = Soma + parseInt(strCPF.substring(i-1, i)) * (12 - i);\n    Resto = (Soma * 10) % 11;\n   \n    if ((Resto == 10) || (Resto == 11))  \n        Resto = 0;\n    if (Resto != parseInt(strCPF.substring(10, 11) ) ) \n        return({payload:false});\n    return({payload:true});\n","outputs":1,"noerr":0,"x":420,"y":220,"wires":[["a678e881.369ef8"]]},{"id":"a678e881.369ef8","type":"debug","z":"3f13ca6f.519e56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":180,"wires":[]}]
