ChaBot IoS Geral
[{"id":"7631fbaf.ffded4","type":"tab","label":"Orquestrador iOs","disabled":false,"info":""},{"id":"63e3bf5d.6228","type":"http in","z":"7631fbaf.ffded4","name":"","url":"/chat","method":"post","upload":true,"swaggerDoc":"","x":122.1428451538086,"y":82.99997425079346,"wires":[["fd96e540.0a9538","3b801427.6b027c"]]},{"id":"5b0807c0.be0f98","type":"http response","z":"7631fbaf.ffded4","name":"","x":1081.6839065551758,"y":283.6654968261719,"wires":[]},{"id":"9607e0f7.c5ea8","type":"function","z":"7631fbaf.ffded4","name":"Answeer","func":"var agora = new Date();\nvar dif = (agora - context.global.quando) / 1000;\nmonName = new Array (\"janeiro\", \"fevereiro\", \"março\", \"abril\", \"Maio\", \"junho\", \"agosto\", \"outubro\", \"novembro\", \"dezembro\");\ndUltLeitura = context.global.quando;\n\n//node.warn(\"Diferença: \" + dif.toString());\n//node.warn(\"Última leitura: \" + context.global.quando);\n\nif(msg.payload.output.text)\n{\n    if(msg.payload.output.text[0] == \"Luz\" || msg.payload.output.text[0] == \"Temperatura\" || msg.payload.output.text[0] == \"Geral\")\n    {\n        if(dif > 3)\n        {\n            msg.payload = \n            {\n                output:{text:[\"Pô Gama, não tenho esta informação no momento, talvez os sensores estejam desligados. Última leitura foi em \" + \n                dUltLeitura.getDate() + \" de \" + monName [dUltLeitura.getMonth()] + \" de \" + dUltLeitura.getFullYear() + \", às \" +\n                dUltLeitura.getHours() + \" horas e \" + dUltLeitura.getMinutes() + \" minutos\"]},\n                context:msg.context\n            };\n            return msg;\n        }\n    }\n}\n\nif(msg.payload.output.text[0]==\"Luz\")\n{\n    if(context.global.luz<60)\n    {\n        msg.payload = \n        {\n                output:{text:[\"Gama, luminosidade baixa, neste momento em torno de \" + [context.global.luz]+ \" lúquis\"]},\n                context:msg.context\n        };\n    }\n    else\n    {\n        msg.payload = \n        {\n                output:{text:[\"Neste momento, a luminosidade do ambiente está em \" + [context.global.luz]+ \" lúquis\"]},\n                context:msg.context\n        };\n        \n    }\n}\nelse if(msg.payload.output.text[0]==\"Temperatura\")\n{\n    msg.payload = \n    {\n        output:{text:[\"Então Gama, de acordo com o último dado do sensor de temperatura, neste momento este local está com \" + [context.global.temp]+ \" graus celsius\"]},\n        context:msg.context\n    };\n}\nelse if(msg.payload.output.text[0]==\"Geral\")\n{\n    msg.payload = \n    {\n        output:{text:[\"Pois não Gama, neste momento a temperatura é de  \" + [context.global.temp]+ \" graus celsius, a luminosidade está em \" +\n        [context.global.luz]+ \" lúquis, e \" + context.global.umidade + \" de umidade do ar\"]},\n        context:msg.context\n    };\n}\nelse\n{\n    var respostas = [];\n    for(x=0;x<msg.payload.output.text.length;x++)\n    {\n        respostas[x] = msg.payload.output.text[x];\n    }\n    msg.payload = \n    {\n        output:{text:respostas},\n        context:msg.context\n    };\n}    \nreturn msg;\n","outputs":1,"noerr":0,"x":1000,"y":220,"wires":[["5b0807c0.be0f98"]]},{"id":"fd96e540.0a9538","type":"change","z":"7631fbaf.ffded4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.body.input.text","tot":"msg"},{"t":"set","p":"context","pt":"msg","to":"req.body.context","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330.4126968383789,"y":82.61904525756836,"wires":[["a3ea5600.c7d558"]]},{"id":"c3457a8c.6a8888","type":"watson-conversation-v1","z":"7631fbaf.ffded4","name":"","workspaceid":"00bf80af-bf7d-4a72-a0f0-bd4a970e0174","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"","timeout":"","optout-learning":false,"x":521.8254241943359,"y":156.23809337615967,"wires":[["f41533b4.1baf7","d254ba62.0db138","33153116.32107e","a890ed66.f9f62"]]},{"id":"c7eb918b.099b5","type":"ibmiot in","z":"7631fbaf.ffded4","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"Gama_ST","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":162.34122848510742,"y":445.31431674957275,"wires":[["4a1eb528.702cac","d4abe7f5.826808","a890ed66.f9f62"]]},{"id":"4a1eb528.702cac","type":"function","z":"7631fbaf.ffded4","name":"Save Light & Temperature","func":"context.global.quando = context.global.quando || 0;\ncontext.global.temp = context.global.temp || 0;\ncontext.global.umidade = context.global.umidade || 0;\ncontext.global.luz = context.global.luz || 0;\ncontext.global.luz = msg.payload.d.light;\ncontext.global.temp = msg.payload.d.ambientTemp;\ncontext.global.umidade = msg.payload.d.humidity;\ncontext.global.quando = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":504.67453384399414,"y":445.71432304382324,"wires":[[]]},{"id":"69027319.3cf25c","type":"debug","z":"7631fbaf.ffded4","name":"","active":false,"console":"false","complete":"ambiente","x":808.0078392028809,"y":485.3587818145752,"wires":[]},{"id":"8cd687d9.203ed8","type":"http request","z":"7631fbaf.ffded4","name":"Call public service","method":"GET","ret":"txt","url":"https://economia.awesomeapi.com.br/json/all","tls":"","x":324.23308181762695,"y":286.68816566467285,"wires":[["f4883cf9.13b26"]]},{"id":"4b9a5d2d.c7bb24","type":"function","z":"7631fbaf.ffded4","name":"Dollar","func":"valor = parseFloat(msg.payload.USD.ask.replace(\",\",\".\")).toFixed(2).replace(/(\\d)(?=(\\d{4})+\\.)/g, '$1,');\nvalor = valor.replace(\".\",\",\")\nmsg.payload = \n{\n    output:{text:[\"O valor do dólar para hoje é R$\" + valor]},\n    context:msg.context\n};\nreturn msg;","outputs":1,"noerr":0,"x":657.3997459411621,"y":286.9636859893799,"wires":[["5b0807c0.be0f98","33153116.32107e"]]},{"id":"f4883cf9.13b26","type":"json","z":"7631fbaf.ffded4","name":"","pretty":false,"x":514.0634956359863,"y":287.1426453590393,"wires":[["4b9a5d2d.c7bb24"]]},{"id":"1ebff800.30b1f8","type":"http request","z":"7631fbaf.ffded4","name":"Call public service","method":"GET","ret":"txt","url":"https://economia.awesomeapi.com.br/json/all","tls":"","x":325.73593521118164,"y":337.8841323852539,"wires":[["ee17a64b.103898"]]},{"id":"c567e382.6608","type":"function","z":"7631fbaf.ffded4","name":"Euro","func":"valor = parseFloat(msg.payload.EUR.ask.replace(\",\",\".\")).toFixed(2).replace(/(\\d)(?=(\\d{4})+\\.)/g, '$1,');\nvalor = valor.replace(\".\",\",\")\nmsg.payload = \n{\n    output:{text:[\"O valor do EURU para hoje é de R$ \" + valor]},\n    context:msg.context\n};\nreturn msg;","outputs":1,"noerr":0,"x":658.7359733581543,"y":337.15970182418823,"wires":[["5b0807c0.be0f98","33153116.32107e"]]},{"id":"ee17a64b.103898","type":"json","z":"7631fbaf.ffded4","name":"","pretty":false,"x":512.5663795471191,"y":337.33866119384766,"wires":[["c567e382.6608"]]},{"id":"81efcbbd.e9e068","type":"inject","z":"7631fbaf.ffded4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":172.89677810668945,"y":393.91428661346436,"wires":[["4a1eb528.702cac"]]},{"id":"cf5f8fad.457a6","type":"http in","z":"7631fbaf.ffded4","name":"","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":137.34126663208008,"y":199.69207000732422,"wires":[["721c2e27.dd1bf"]]},{"id":"721c2e27.dd1bf","type":"change","z":"7631fbaf.ffded4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.mensagem","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":311.0079345703125,"y":199.58095455169678,"wires":[["c3457a8c.6a8888"]]},{"id":"f41533b4.1baf7","type":"function","z":"7631fbaf.ffded4","name":"Flow based on intention","func":"if(msg.payload.intents.length === 0)\n    return [null,null,null,null,msg,null];\n    \nif(msg.payload.intents.length > 0 && msg.payload.entities.length > 0)\n{\n    if(msg.payload.intents[0].intent == \"valormoeda\")\n    {\n        if(msg.payload.entities[0].value == \"Dólar\")\n        {\n            return [msg,null,null,null,null,null];\n        }    \n        else if(msg.payload.entities[0].value == \"Euro\")\n        {\n            return [null,msg,null,null,null,null];\n        }    \n        else\n        {\n            return [null,null,msg,null,null,null];\n        }\n    }\n}\n\n//Acender a lampada\nif(msg.payload.intents[0].intent == \"acenderlampada\")\n{\n    if(msg.payload.entities.length > 0 && msg.payload.entities[0].entity == \"cores\")\n    {\n        msg.payload = \n        {cor:msg.payload.entities[0].value,\n         output:msg.payload.output\n        };\n        flow.set(\"cor\",msg.payload.cor);\n    }\n    else\n    {\n        if(flow.get(\"cor\"))\n        {\n            msg.payload = \n            {cor:flow.get(\"cor\"),\n             output:msg.payload.output}; \n        }\n        else\n        {\n            msg.payload = \n            {cor:\"Branca\",\n             output:msg.payload.output};\n            flow.set(\"cor\",msg.payload.cor); \n        }\n    }\n    msg.payload.piscar = false;\n    return [null,null,null,msg,null,null];\n}\n\n//Piscando a luz\nif(msg.payload.intents[0].intent == \"pisquelampada\")\n{\n    if(msg.payload.entities.length > 0 && msg.payload.entities[0].entity == \"cores\")\n    {\n        msg.payload = \n        {cor:msg.payload.entities[0].value,\n         output:msg.payload.output\n        };\n        flow.set(\"cor\",msg.payload.cor);\n    }\n    else\n    {\n        if(flow.get(\"cor\"))\n        {\n            msg.payload = \n            {cor:flow.get(\"cor\"),\n             output:msg.payload.output}; \n        }\n        else\n        {\n            msg.payload = \n            {cor:\"Branca\",\n             output:msg.payload.output};\n            flow.set(\"cor\",msg.payload.cor); \n        }\n    }\n    msg.payload.piscar = true;\n    return [null,null,null,msg,null,null];\n}\n\nif(msg.payload.intents[0].intent == \"quercoreh\")\n{\n    if(msg.payload.entities.length > 0 && msg.payload.entities[0].entity == \"cores\")\n    {\n        msg.payload = \n        {cor:msg.payload.entities[0].value,\n         output:msg.payload.output\n        };\n        flow.set(\"cor\",msg.payload.cor);\n        msg.payload.piscar = false;\n        return [null,null,null,msg,null,null];\n    }\n    else\n    {\n        return [null,null,null,null,msg,null];        \n    }\n}\n\n//Apagar a lampada\nif(msg.payload.intents[0].intent == \"apagarlampada\")\n{\n    msg.payload = \n    {cor:\"Apagar\",\n     output:msg.payload.output};\n    msg.payload.piscar = false;\n    return [null,null,null,msg,null,null];\n}\n\n//Drone TakeOff\nif(msg.payload.intents[0].intent == \"drone_takeoff\")\n{\n    //msg.payload = \"takeoff\";\n    msg.payload = {output:msg.payload.output,\n                   comando:\"takeoff\"\n    };\n    return [null,null,null,null,null,msg];\n}\n\n//Drone Land\nif(msg.payload.intents[0].intent == \"drone_land\")\n{\n    //msg.payload = \"land\";\n    msg.payload = {output:msg.payload.output,\n                   comando:\"land\"\n    };\n    return [null,null,null,null,null,msg];\n}\n\nreturn [null,null,msg,null,null,null];","outputs":"6","noerr":0,"x":750,"y":160,"wires":[["1cedeb4b.681825"],["96c18334.705d"],["9607e0f7.c5ea8"],["48eaea93.87b0a4","9607e0f7.c5ea8"],["9607e0f7.c5ea8"],["66c51532.ccf32c","9607e0f7.c5ea8","33153116.32107e"]]},{"id":"1cedeb4b.681825","type":"link out","z":"7631fbaf.ffded4","name":"Dólar","links":["bfe07d5c.63bd6"],"x":1060.9524145126343,"y":126.21426582336426,"wires":[]},{"id":"96c18334.705d","type":"link out","z":"7631fbaf.ffded4","name":"Euro","links":["41600430.1825fc"],"x":1012.6190633773804,"y":140.21426582336426,"wires":[]},{"id":"bfe07d5c.63bd6","type":"link in","z":"7631fbaf.ffded4","name":"Dólar","links":["1cedeb4b.681825"],"x":174.89686393737793,"y":286.46990394592285,"wires":[["8cd687d9.203ed8"]]},{"id":"41600430.1825fc","type":"link in","z":"7631fbaf.ffded4","name":"Euro","links":["96c18334.705d"],"x":174.89686393737793,"y":338.46987533569336,"wires":[["1ebff800.30b1f8"]]},{"id":"b1add1c4.bd767","type":"debug","z":"7631fbaf.ffded4","name":"","active":true,"console":"true","complete":"log","x":966.4999847412109,"y":88.57140254974365,"wires":[]},{"id":"d254ba62.0db138","type":"function","z":"7631fbaf.ffded4","name":"WC Return","func":"msg.log = \n        {\"Intenção\":msg.payload.intents[0].intent,\n         \"Entidade\":msg.payload.entities,\n         \"Pergunta\":msg.payload.input.text,\n         \"Resposta\":msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"x":745.1190567016602,"y":89.57143211364746,"wires":[["b1add1c4.bd767"]]},{"id":"d4abe7f5.826808","type":"function","z":"7631fbaf.ffded4","name":"IOT Sensor Data","func":"msg = \n{payload:msg.payload,ambiente:{temperatura:msg.payload.d.ambientTemp,\n                               luz:msg.payload.d.light,\n                               umidade:msg.payload.d.humidity    \n}};\nreturn msg;","outputs":1,"noerr":0,"x":486.2302131652832,"y":485.10320949554443,"wires":[["69027319.3cf25c"]]},{"id":"33153116.32107e","type":"debug","z":"7631fbaf.ffded4","name":"","active":false,"console":"false","complete":"false","x":809.9999694824219,"y":445.857120513916,"wires":[]},{"id":"48eaea93.87b0a4","type":"link out","z":"7631fbaf.ffded4","name":"EntradaCor","links":["f44aa696.2eb8b8"],"x":980.1190814971924,"y":166.21426963806152,"wires":[]},{"id":"f44aa696.2eb8b8","type":"link in","z":"7631fbaf.ffded4","name":"AcenderLampada","links":["48eaea93.87b0a4"],"x":209.28570938110352,"y":563.7142658233643,"wires":[["b4222656.c45d48"]]},{"id":"4922c041.80783","type":"mqtt out","z":"7631fbaf.ffded4","name":"Gama Playpulb","topic":"Gama_PlayBulb_Color_Command_Color_Chat","qos":"2","retain":"","broker":"440022f3.28451c","x":531,"y":564,"wires":[]},{"id":"a3ea5600.c7d558","type":"function","z":"7631fbaf.ffded4","name":"","func":"msg = \n{additional_context:{\"cor\":null,\"acender\":null},\n    payload:msg.payload,\n    res:msg.res,\n    req:msg.req,\n    context:msg.context\n};\nreturn msg;","outputs":1,"noerr":0,"x":507.8571472167969,"y":82.28569221496582,"wires":[["c3457a8c.6a8888"]]},{"id":"b4222656.c45d48","type":"function","z":"7631fbaf.ffded4","name":"","func":"msg.payload = {\"cor\":msg.payload.cor,\"piscar\":msg.payload.piscar};\nreturn msg;","outputs":1,"noerr":0,"x":321.7857093811035,"y":563.7142658233643,"wires":[["4922c041.80783","33153116.32107e","4d56ed86.db51e4"]]},{"id":"a890ed66.f9f62","type":"debug","z":"7631fbaf.ffded4","name":"","active":false,"console":"false","complete":"false","x":478.1745982699924,"y":237.04759915669763,"wires":[]},{"id":"54833d95.ad8474","type":"comment","z":"7631fbaf.ffded4","name":"Credenciais","info":"Username:e4499904-2144-4ff0-8ec9-3c888390e1d4\n\nPassword:q4ntXTZlL4sV\n\nWorkspace ID:151e17a1-809e-4cf8-bfc0-77be6e73597b","x":330,"y":140,"wires":[]},{"id":"893b2dc5.88021","type":"mqtt in","z":"7631fbaf.ffded4","name":"Recebe IP do Raspberry PI","topic":"raspberrypi3_gama_ip","qos":"0","datatype":"auto","broker":"4267954d.79c29c","x":230,"y":620,"wires":[["f9487264.30165"]]},{"id":"f9487264.30165","type":"debug","z":"7631fbaf.ffded4","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":591.0069580078125,"y":622.1979064941406,"wires":[]},{"id":"a1379c79.5c31f","type":"mqtt out","z":"7631fbaf.ffded4","name":"","topic":"sergiogama_toque_bruno_mars","qos":"2","retain":"","broker":"440022f3.28451c","x":770,"y":40,"wires":[]},{"id":"570ef18e.dd34f","type":"inject","z":"7631fbaf.ffded4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":388.5,"y":36,"wires":[["a1379c79.5c31f"]]},{"id":"66c51532.ccf32c","type":"mqtt out","z":"7631fbaf.ffded4","name":"","topic":"sergiogama_drone_command","qos":"2","retain":"false","broker":"440022f3.28451c","x":1010,"y":360,"wires":[]},{"id":"8ee37e08.fd0ea","type":"inject","z":"7631fbaf.ffded4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":254.5,"y":679,"wires":[["bb80495b.f465c8"]]},{"id":"bb80495b.f465c8","type":"function","z":"7631fbaf.ffded4","name":"","func":"msg.payload = {\"cor\":\"Rosa\",\"piscar\":true};\nreturn msg;","outputs":1,"noerr":0,"x":401.5,"y":674,"wires":[["4922c041.80783"]]},{"id":"4d56ed86.db51e4","type":"debug","z":"7631fbaf.ffded4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":520,"wires":[]},{"id":"3b801427.6b027c","type":"debug","z":"7631fbaf.ffded4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":180,"y":40,"wires":[]},{"id":"440022f3.28451c","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4267954d.79c29c","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
