Chatbot ultimate
[{"id":"103670b4.2baf8f","type":"tab","label":"Para uso com Ultimate Bot","disabled":false,"info":""},{"id":"7ea9f6d.a50dd08","type":"http in","z":"103670b4.2baf8f","name":"","url":"/api/conversation","method":"post","upload":false,"swaggerDoc":"","x":140,"y":120,"wires":[["f3d53502.b2edb8"]]},{"id":"c5c28de1.e6dfb","type":"http response","z":"103670b4.2baf8f","name":"","statusCode":"","headers":{},"x":790,"y":120,"wires":[]},{"id":"3cd8cd0a.f17b02","type":"watson-conversation-v1","z":"103670b4.2baf8f","name":"","workspaceid":"1ce9bef8-2d1e-4209-94ca-54d55e6330b0","multiuser":false,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":610,"y":120,"wires":[["c5c28de1.e6dfb"]]},{"id":"f3d53502.b2edb8","type":"change","z":"103670b4.2baf8f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.params.input.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":120,"wires":[["3cd8cd0a.f17b02"]]},{"id":"949fc03a.c772f","type":"comment","z":"103670b4.2baf8f","name":"Exemplo para usar com o chatbot-ultmate. ","info":"Código esta em https://github.com/sergiogama/Ultimate-ChatBot\n","x":202.5234375,"y":60.765625,"wires":[]}]
