chatbot-multi-lingua-TDC-wa-webhook
[{"id":"60e724e5.8de36c","type":"tab","label":"ChatBot multi-language","disabled":false,"info":""},{"id":"77d9af41.b1106","type":"http in","z":"60e724e5.8de36c","name":"","url":"/wh-pre","method":"post","upload":false,"swaggerDoc":"","x":90,"y":100,"wires":[["bc51d906.052408","3628379a.c7c808"]]},{"id":"bc51d906.052408","type":"debug","z":"60e724e5.8de36c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":100,"wires":[]},{"id":"a0076e08.80ef7","type":"http response","z":"60e724e5.8de36c","name":"","statusCode":"","headers":{},"x":910,"y":160,"wires":[]},{"id":"cb6c9153.ac66d","type":"http in","z":"60e724e5.8de36c","name":"","url":"/wh-pos","method":"post","upload":false,"swaggerDoc":"","x":90,"y":360,"wires":[["9b659945.ba15c8","c7322e84.6e3c6"]]},{"id":"9b659945.ba15c8","type":"debug","z":"60e724e5.8de36c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":360,"wires":[]},{"id":"50c50a02.478f54","type":"function","z":"60e724e5.8de36c","name":"","func":"msg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":460,"wires":[["f8d92066.fad4a","8419da59.b6c6f8"]]},{"id":"f8d92066.fad4a","type":"http response","z":"60e724e5.8de36c","name":"","statusCode":"","headers":{},"x":930,"y":460,"wires":[]},{"id":"5e9eb554.82641c","type":"watson-assistant-v2","z":"60e724e5.8de36c","name":"","service-endpoint":"","assistant_id":"4402a467-c31b-40ec-ad85-46133de2e519","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":310,"y":600,"wires":[["953bdce2.eb135"]]},{"id":"8986002a.20b72","type":"inject","z":"60e724e5.8de36c","name":"","props":[{"p":"payload"},{"p":"params.session_id","v":"gama","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Bom dia","payloadType":"str","x":120,"y":600,"wires":[["5e9eb554.82641c"]]},{"id":"953bdce2.eb135","type":"debug","z":"60e724e5.8de36c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":600,"wires":[]},{"id":"2db2396e.8af256","type":"debug","z":"60e724e5.8de36c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":100,"wires":[]},{"id":"8419da59.b6c6f8","type":"debug","z":"60e724e5.8de36c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":500,"wires":[]},{"id":"2b496669.bd8f0a","type":"watson-language-translator-identify","z":"60e724e5.8de36c","name":"","service-endpoint":"","x":390,"y":140,"wires":[["cc33441e.8829a8","9da97d05.dfc"]]},{"id":"cc33441e.8829a8","type":"debug","z":"60e724e5.8de36c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":100,"wires":[]},{"id":"3628379a.c7c808","type":"function","z":"60e724e5.8de36c","name":"","func":"context.global.set(\"payload\",msg.payload);\ncontext.global.set(\"req\",msg.req);\nmsg.payload = msg.payload.payload.input.text;\n//In case of Watson Assistant be used by Web Chat (Welcome)\nif(msg.payload == \"\" || msg.payload == \"eng\" || msg.payload == \"port\")\n{\n    msg.payload = context.global.get(\"payload\");\n    return [null,msg];\n}\nreturn [msg,null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":160,"wires":[["2b496669.bd8f0a"],["a0076e08.80ef7"]]},{"id":"826b626.da158a","type":"function","z":"60e724e5.8de36c","name":"msg port","func":"msg.payload = context.global.get(\"payload\");\nmsg.payload.payload = {\"context\":{\"skills\":{\"main skill\":{\"user_defined\":{\"lang\":context.global.get(\"lang\")}}}},\n                       \"input\": {\"text\":context.global.get(\"lang\") == \"en\" ? msg.translation[0].translation : msg.payload.payload.input.text,\n                                 \"options\": msg.payload.payload.input.options,\n                                 \"message_type\": msg.payload.payload.input.message_type\n                       }};\nmsg.req = context.global.get(\"req\");\n//if(msg.lang.language == \"en\")\n//    msg.payload.payload = {\"input\":{\"text\":msg.translation[0].translation}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":280,"wires":[["a0076e08.80ef7","2db2396e.8af256"]]},{"id":"6c74f7a2.c0ee98","type":"watson-translator","z":"60e724e5.8de36c","name":"eng -> port","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"pt","password":"","apikey":"OI3C7HPFhlVN2qqqaW2iHIZVr4qB9Q-D5mY19ix-hA3s","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"pt","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/b2bfd6f7-3035-462b-afdd-f626c6d45294","x":350,"y":240,"wires":[["bfc01ff4.2e402","826b626.da158a"]]},{"id":"bfc01ff4.2e402","type":"debug","z":"60e724e5.8de36c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":240,"wires":[]},{"id":"d517b0b1.b29bf","type":"inject","z":"60e724e5.8de36c","name":"","props":[{"p":"payload"},{"p":"params.session_id","v":"gama","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Good morning","payloadType":"str","x":110,"y":560,"wires":[["5e9eb554.82641c"]]},{"id":"c7322e84.6e3c6","type":"switch","z":"60e724e5.8de36c","name":"","property":"payload.payload.context.skills[\"main skill\"].user_defined.lang","propertyType":"msg","rules":[{"t":"eq","v":"en","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":400,"wires":[["12edea89.138f75"],["50c50a02.478f54"]]},{"id":"8d14205f.69d7c","type":"watson-translator","z":"60e724e5.8de36c","name":"port -> eng","action":"translate","basemodel":"ar-en","domain":"general","srclang":"pt","destlang":"en","password":"","apikey":"OI3C7HPFhlVN2qqqaW2iHIZVr4qB9Q-D5mY19ix-hA3s","custom":"","domainhidden":"general","srclanghidden":"pt","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/b2bfd6f7-3035-462b-afdd-f626c6d45294","x":590,"y":400,"wires":[["b8767029.e55c"]]},{"id":"12edea89.138f75","type":"change","z":"60e724e5.8de36c","name":"","rules":[{"t":"set","p":"payload","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"req","pt":"flow","to":"req","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.payload.output.generic[0].text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":400,"wires":[["8d14205f.69d7c","959918c.6d1eee8"]]},{"id":"b8767029.e55c","type":"change","z":"60e724e5.8de36c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"flow"},{"t":"set","p":"req","pt":"msg","to":"req","tot":"flow"},{"t":"set","p":"payload.payload.output.generic[0].text","pt":"msg","to":"translations[0].translation","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":400,"wires":[["f8d92066.fad4a","8419da59.b6c6f8"]]},{"id":"959918c.6d1eee8","type":"debug","z":"60e724e5.8de36c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":540,"wires":[]},{"id":"9da97d05.dfc","type":"function","z":"60e724e5.8de36c","name":"","func":"context.global.set(\"lang\",\"pt\");\nif(msg.lang.confidence < .6)\n{\n    if(context.global.get(\"payload\").payload.context && context.global.get(\"payload\").payload.context.skills[\"main skill\"].user_defined.lang)    \n    {\n        context.global.set(\"lang\",context.global.get(\"payload\").payload.context.skills[\"main skill\"].user_defined.lang);\n    }\n}\nelse\n{\n//    if(context.global.get(\"payload\").payload.context && context.global.get(\"payload\").payload.context.skills[\"main skill\"].user_defined.lang)    \n//    {\n//        context.global.set(\"lang\",context.global.get(\"payload\").payload.context.skills[\"main skill\"].user_defined.lang);\n//    }\n//    else\n//    {\n        context.global.set(\"lang\", msg.lang.language != \"en\" ? \"pt\" : msg.lang.language);\n//    }\n}\nif(context.global.get(\"lang\") == \"en\")\n    return [msg,null];\nreturn [null,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":260,"wires":[["6c74f7a2.c0ee98"],["826b626.da158a"]]},{"id":"309fd7b0.b525d8","type":"inject","z":"60e724e5.8de36c","name":"","props":[{"p":"payload"},{"p":"params.session_id","v":"gama","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Buenos días","payloadType":"str","x":110,"y":640,"wires":[["5e9eb554.82641c"]]}]
