ChatBot com STT e TTS para o Telegram
[{"id":"42992596.5a5b0c","type":"tab","label":"Telegram com STT","disabled":false,"info":""},{"id":"afbf188e.c57218","type":"watson-conversation-v1","z":"42992596.5a5b0c","name":"","workspaceid":"8da116df-ab65-4936-a04d-a4c6eaf40b89","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","timeout":"","optout-learning":false,"x":362.01422119140625,"y":345.00000043353066,"wires":[["659a6ac1.0da844"]]},{"id":"659a6ac1.0da844","type":"function","z":"42992596.5a5b0c","name":"Restore context","func":"for(x=0;x<msg.payload.output.text.length;x++)\n{\n    msg.payload.chatId = flow.get(\"chatId\");\n    msg.payload.type = \"message\" //flow.get(\"type\");\n    msg.payload.content = msg.payload.output.text[x];\n    node.send(msg);\n}\nreturn null;","outputs":1,"noerr":0,"x":542.0142211914062,"y":345.00000043353066,"wires":[["50de8eca.ee857"]]},{"id":"9a6fb2a0.fadc1","type":"function","z":"42992596.5a5b0c","name":"Not authorized user","func":"msg.payload.chatId = flow.get(\"chatId\");\nmsg.payload.type = \"message\" //flow.get(\"type\");\nmsg.payload.content = \"Você não está autorizado\";\nreturn msg;","outputs":1,"noerr":0,"x":550.1392211914062,"y":508.4375309511088,"wires":[["50de8eca.ee857"]]},{"id":"c1797a7d.584208","type":"comment","z":"42992596.5a5b0c","name":"Read.me","info":"1) Create a Watson Assistant and Watson Speach to Text on IBM Cloud (https://www.bluemix.net)\n2) Create a Telegram Bot:\n   Open web.telegram.org\n   find BotFather (contact)\n   send /newbot\n   Give a name for your bot (Botfather will ask it)\n   Give a user name for it, which should have in the end \"Bot\"\n   The BotFather will give you a token.\n3) Install node-red-contrib-telegrambot   ","x":119.01422119140625,"y":82.00000043353066,"wires":[]},{"id":"89f02ba6.43ad58","type":"watson-speech-to-text","z":"42992596.5a5b0c","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"","band":"NarrowbandModel","bandhidden":"NarrowbandModel","keywords":"","keywords-threshold":"","word-confidence":false,"password":"","apikey":"josj9cmi9JBfDRSpxyQCR-VWniJ-rjZrH3tRMdXGP_n6","payload-response":true,"streaming-mode":false,"streaming-mute":false,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":522.0142211914062,"y":242.00000043353066,"wires":[["afbf188e.c57218"]]},{"id":"6eef8c4d.5f0454","type":"switch","z":"42992596.5a5b0c","name":"","property":"type","propertyType":"flow","rules":[{"t":"eq","v":"voice","vt":"str"},{"t":"eq","v":"message","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":459.01422119140625,"y":110.00000043353066,"wires":[["2f94cd91.e69f02"],["88cc4e9.5add5b"]]},{"id":"2f94cd91.e69f02","type":"change","z":"42992596.5a5b0c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.weblink","tot":"msg"},{"t":"set","p":"audio","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":621.0142211914062,"y":104.00000043353066,"wires":[["89f02ba6.43ad58"]]},{"id":"53298225.529d0c","type":"function","z":"42992596.5a5b0c","name":"Save context","func":"flow.set(\"chatId\", msg.payload.chatId);\nflow.set(\"type\", msg.payload.type);\nflow.set(\"content\",msg.payload.content);\nflow.set(\"weblink\",msg.payload.weblink);\nflow.set(\"audio\",false);\nreturn msg;","outputs":1,"noerr":0,"x":317.13922119140625,"y":110.31250043353066,"wires":[["6eef8c4d.5f0454"]]},{"id":"88cc4e9.5add5b","type":"change","z":"42992596.5a5b0c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":182.01422119140625,"y":345.00000043353066,"wires":[["afbf188e.c57218"]]},{"id":"3d4de2ce.93c5be","type":"telegram receiver","z":"42992596.5a5b0c","name":"","bot":"19b68e7a.18b0e2","saveDataDir":"","x":138.13922119140625,"y":116.31250043353066,"wires":[["53298225.529d0c"],["9a6fb2a0.fadc1"]]},{"id":"50de8eca.ee857","type":"telegram sender","z":"42992596.5a5b0c","name":"","bot":"19b68e7a.18b0e2","x":740.0142211914062,"y":345.00000043353066,"wires":[[]]}]
