ChatBot com STT e TTS
[{"id":"fae25b3d.c78078","type":"tab","label":"WA + STT + TTS (Chatfuel)","disabled":false,"info":""},{"id":"1f2b8037.805e4","type":"watson-conversation-v1","z":"fae25b3d.c78078","name":"","workspaceid":"45d04fe2-f92f-43f4-a168-0e7116383694","multiuser":true,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":680,"y":160,"wires":[["97a4f2a7.59fdb","a3586069.df0af"]]},{"id":"f6a91a2e.134538","type":"watson-speech-to-text","z":"fae25b3d.c78078","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"NarrowbandModel","bandhidden":"NarrowbandModel","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"abszCIRwsx_k0zrXZTNAjSkLWsCISbRr-QUg0nhRA3-E","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":368,"y":160,"wires":[["9fe3c829.a06b28"]]},{"id":"5797877c.d33ba8","type":"watson-text-to-speech","z":"fae25b3d.c78078","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/wav","password":"","apikey":"PDtZz0reYmMhkL_9Ko6tqul2auhkiJ55oPal6tNJ58Jm","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":126,"y":325,"wires":[["66df8a54.5b06a4"]]},{"id":"775bd5ad.52d50c","type":"http in","z":"fae25b3d.c78078","name":"","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":77.5,"y":98,"wires":[["23789fdf.68264"]]},{"id":"bb66e337.99dc5","type":"http response","z":"fae25b3d.c78078","name":"","statusCode":"","headers":{},"x":771,"y":233,"wires":[]},{"id":"23789fdf.68264","type":"change","z":"fae25b3d.c78078","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.mensagem","tot":"msg"},{"t":"set","p":"user","pt":"msg","to":"req.query.usuario","tot":"msg"},{"t":"set","p":"res","pt":"flow","to":"res","tot":"msg"},{"t":"set","p":"audio","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":243,"y":98,"wires":[["f65f5ee0.c8897"]]},{"id":"a578f67b.281428","type":"function","z":"fae25b3d.c78078","name":"Response","func":"response = [];\nfor(x=0;x<msg.payload.output.text.length;x++)\n{\n    response[x] = {\"text\":msg.payload.output.text[x]};\n}\nmsg.payload =response;\nreturn msg;","outputs":1,"noerr":0,"x":434,"y":233,"wires":[["d07c2373.16645"]]},{"id":"f65f5ee0.c8897","type":"switch","z":"fae25b3d.c78078","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"https://cdn.fbsbx.com","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":406,"y":98,"wires":[["ec673e91.36535"],["9fe3c829.a06b28"]]},{"id":"df081518.802038","type":"link out","z":"fae25b3d.c78078","name":"Convert","links":["7bfe24a5.d6f95c"],"x":680,"y":92,"wires":[]},{"id":"7bfe24a5.d6f95c","type":"link in","z":"fae25b3d.c78078","name":"Convert-in","links":["df081518.802038"],"x":37,"y":160,"wires":[["4b5a7486.ef399c"]]},{"id":"ec673e91.36535","type":"function","z":"fae25b3d.c78078","name":"Audio=true","func":"flow.set(\"audio\",true);\nreturn msg;","outputs":1,"noerr":0,"x":569,"y":92,"wires":[["df081518.802038"]]},{"id":"a3586069.df0af","type":"switch","z":"fae25b3d.c78078","name":"","property":"audio","propertyType":"flow","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":80,"y":241,"wires":[["a578f67b.281428"],["dc13a84f.298c38"]]},{"id":"66df8a54.5b06a4","type":"function","z":"fae25b3d.c78078","name":"Create Unique ID","func":"flow.set(\"idAudio\",0);\nflow.set(\"idAudio\", Math.floor((Math.random() * 100000000000) + 1));\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":325,"wires":[["b0cb6ed8.ba41b"]]},{"id":"4d850310.b792dc","type":"http in","z":"fae25b3d.c78078","name":"","url":"/facebook/speech","method":"get","upload":false,"swaggerDoc":"","x":129.5,"y":445,"wires":[["4c4f975c.ba6cf8"]]},{"id":"afc9bb09.768628","type":"http response","z":"fae25b3d.c78078","name":"","statusCode":"","headers":{"content-type":"audio/mpeg3"},"x":637.5000038146973,"y":445.42852687835693,"wires":[]},{"id":"4c4f975c.ba6cf8","type":"change","z":"fae25b3d.c78078","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.audioid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340.2142639160156,"y":445.07142543792725,"wires":[["294d3796.6d86e8"]]},{"id":"294d3796.6d86e8","type":"function","z":"fae25b3d.c78078","name":"Response","func":"for(var k in flow.get(\"speech\")) {\n  if (flow.get(\"speech\")[k]._id == msg.payload) \n    {\n      msg.payload = flow.get(\"speech\")[k].speech;\n// Delete an item\n      flow.get(\"speech\").splice(k,1);\n      break;\n    } \n  }\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload.audio, 'utf8');\n//return msg;","outputs":1,"noerr":0,"x":505.61905670166016,"y":445.4285430908203,"wires":[["afc9bb09.768628"]]},{"id":"4042504b.4141c","type":"function","z":"fae25b3d.c78078","name":"Save in session","func":"var url = \"https://\" + msg.req.headers.host;\n\nif(!flow.get(\"speech\"))\n{\n    flow.set(\"speech\",[]);\n    flow.set(\"speech[0]\",{_id:flow.get(\"idAudio\").toString(),speech:msg.payload});\n}\nelse\n{\n    var pos;\n    pos = flow.get(\"speech\").length;\n    flow.set(\"speech[\" + pos + \"]\",{_id:flow.get(\"idAudio\").toString(),speech:msg.payload});\n}\n\nmsg.payload = [{\"attachment\":{\n    \"type\":\"audio\",\n    \"payload\":{\"url\":url+ \"/facebook/speech?audioid=\"+flow.get(\"idAudio\").toString()}\n    }\n}];\nreturn msg;","outputs":1,"noerr":0,"x":681,"y":325,"wires":[["d07c2373.16645"]]},{"id":"d07c2373.16645","type":"function","z":"fae25b3d.c78078","name":"Restore state","func":"msg.res = flow.get(\"res\");\nflow.set(\"audio\",false);\nreturn msg;","outputs":1,"noerr":0,"x":608,"y":233,"wires":[["bb66e337.99dc5"]]},{"id":"5b3f8996.a82578","type":"comment","z":"fae25b3d.c78078","name":"Callback for facebook","info":"","x":131,"y":408,"wires":[]},{"id":"9fe3c829.a06b28","type":"function","z":"fae25b3d.c78078","name":"","func":"msg.additional_context = \n{\"nome\":msg.req.query.nome,\n \"sobrenome\":msg.req.query.sobrenome};\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":140,"wires":[["1f2b8037.805e4"]]},{"id":"97a4f2a7.59fdb","type":"debug","z":"fae25b3d.c78078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":768,"y":38,"wires":[]},{"id":"dc13a84f.298c38","type":"function","z":"fae25b3d.c78078","name":"Response","func":"response = \"\";\nfor(x=0;x<msg.payload.output.text.length;x++)\n{\n    response += '<p><s>' + msg.payload.output.text[x] + '</s></p><break time=\"1000ms\"/>';\n}\nmsg.payload =response;\nreturn msg;","outputs":1,"noerr":0,"x":216,"y":274,"wires":[["5797877c.d33ba8"]]},{"id":"4b5a7486.ef399c","type":"ffmpeg-conversion","z":"fae25b3d.c78078","name":"MP3 -> WAV","format":"wav","audiochannels":"mono","x":150,"y":160,"wires":[["f6a91a2e.134538"]]},{"id":"b0cb6ed8.ba41b","type":"ffmpeg-conversion","z":"fae25b3d.c78078","name":"WAV -> MP3","format":"mp3","audiochannels":"mono","x":504,"y":325,"wires":[["4042504b.4141c"]]}]
