ChatBot multi-idioma
[{"id":"dab81674.50b548","type":"tab","label":"Bot Multi Language Facebook","disabled":false,"info":""},{"id":"ca06a3ea.22d9","type":"watson-language-translator-identify","z":"dab81674.50b548","name":"Identify language","default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":490,"y":40,"wires":[["5139c542.a1219c"]]},{"id":"5139c542.a1219c","type":"function","z":"dab81674.50b548","name":"What language?","func":"flow.set(\"idioma\",\"pt\");\n\nif(msg.lang.confidence > 0.7)\n{\n    flow.set(\"idioma\",msg.lang.language);\n    if(flow.get(\"idioma\") == \"en\")\n    {\n        msg.srclang = flow.get(\"idioma\");\n        msg.destlang = \"pt\";\n        return [null,msg,null];\n    }\n    else if(flow.get(\"idioma\") != \"pt\" && \n            //flow.get(\"idioma\") != \"it\" &&\n            flow.get(\"idioma\") != \"hu\") \n    {\n        return [null,null,msg];\n    }\nelse\n    {\n        flow.set(\"idioma\",\"pt\");\n    }\n}\nreturn [msg,null,null];    \n","outputs":"3","noerr":0,"x":180,"y":180,"wires":[["1e9dfeb4.fee341"],["15aad91e.163997"],["5306cf4f.b0ecd"]]},{"id":"15aad91e.163997","type":"watson-translator","z":"dab81674.50b548","name":"Eng -> Port","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"pt","password":"","apikey":"e9rWn1WlpldWcbXQ2pM_d-O7pBnozErS_xGgBGLAuPId","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"pt","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":430,"y":220,"wires":[["1e9dfeb4.fee341"]]},{"id":"1e9dfeb4.fee341","type":"watson-assistant-v2","z":"dab81674.50b548","name":"","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api/v2","assistant_id":"898f38be-fcb6-4784-b27d-2c670f465f66","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":550,"y":165,"wires":[["a15ad484.401998"]]},{"id":"da62f01f.32b2a","type":"http in","z":"dab81674.50b548","name":"","url":"/chatml","method":"get","upload":false,"swaggerDoc":"","x":100,"y":40,"wires":[["c816fa4d.d69298"]]},{"id":"c816fa4d.d69298","type":"change","z":"dab81674.50b548","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.mensagem","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":40,"wires":[["ca06a3ea.22d9"]]},{"id":"4c5e55a6.404ddc","type":"watson-translator","z":"dab81674.50b548","name":"Port -> Eng","action":"translate","basemodel":"ar-en","domain":"general","srclang":"pt","destlang":"en","password":"","apikey":"e9rWn1WlpldWcbXQ2pM_d-O7pBnozErS_xGgBGLAuPId","custom":"","domainhidden":"general","srclanghidden":"pt","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":590,"y":280,"wires":[["55c1c176.0a5a7"]]},{"id":"55c1c176.0a5a7","type":"function","z":"dab81674.50b548","name":"Answer","func":"if(flow.get(\"idioma\") == \"en\")\n{\n    return [msg,null];\n}\nelse\n{\n    msg.destlang = flow.get(\"idioma\");\n    msg.srclang = \"en\";\n    return [null,msg];\n}\n","outputs":2,"noerr":0,"x":480,"y":360,"wires":[["80b9d12d.9709f"],["e047a552.fd5d38"]]},{"id":"80b9d12d.9709f","type":"http response","z":"dab81674.50b548","name":"","x":830,"y":360,"wires":[]},{"id":"a15ad484.401998","type":"function","z":"dab81674.50b548","name":"What language?","func":"if(flow.get(\"idioma\") != \"pt\")\n{\n    msg.destlang = \"en\";\n    msg.srclang = \"pt\";\n    msg.payload = msg.payload.output.generic[0].text;\n    return [null,msg];\n}\nelse\n{\n    msg.payload = msg.payload.output.generic[0].text;\n    return [msg,null];\n}","outputs":2,"noerr":0,"x":731,"y":165,"wires":[["80b9d12d.9709f"],["4c5e55a6.404ddc"]]},{"id":"5306cf4f.b0ecd","type":"function","z":"dab81674.50b548","name":"","func":"msg.srclang = flow.get(\"idioma\");\nmsg.destlang = \"en\";\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":280,"wires":[["af20a84e.1c84b8"]]},{"id":"af20a84e.1c84b8","type":"watson-translator","z":"dab81674.50b548","name":"Any Lang -> Eng","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"pt","password":"","apikey":"e9rWn1WlpldWcbXQ2pM_d-O7pBnozErS_xGgBGLAuPId","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"pt","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":250,"y":360,"wires":[["c38eb77d.d14fe8"]]},{"id":"e047a552.fd5d38","type":"watson-translator","z":"dab81674.50b548","name":"Eng -> Any Lang","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"pt","password":"","apikey":"e9rWn1WlpldWcbXQ2pM_d-O7pBnozErS_xGgBGLAuPId","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"pt","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":570,"y":440,"wires":[["80b9d12d.9709f"]]},{"id":"c38eb77d.d14fe8","type":"function","z":"dab81674.50b548","name":"","func":"msg.srclang = \"en\";\nmsg.destlang = \"pt\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":280,"wires":[["15aad91e.163997"]]}]
