Dashboard de tweets para eventos
[{"id":"1b185558.f6a2bb","type":"tab","label":"Bluehack Monitor de Tweets","disabled":false,"info":""},{"id":"eed5ee29.6fc91","type":"twitter in","z":"1b185558.f6a2bb","twitter":"","tags":"#sergiogama","user":"false","name":"","inputs":0,"x":72.51134490966797,"y":193.1931915283203,"wires":[["109e6fdf.8ddcd","6bf2bdd5.4e17c4","ba377489.3edd38","b5c027d6.d4e3e8"]]},{"id":"109e6fdf.8ddcd","type":"change","z":"1b185558.f6a2bb","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"#bluehack","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":269.5084991455078,"y":194.69316864013672,"wires":[["833b1c53.a169d","7747909d.20823","802e574d.993ac8","6a33317b.c7d08"]]},{"id":"ba377489.3edd38","type":"debug","z":"1b185558.f6a2bb","name":"","active":true,"console":"false","complete":"true","x":450.50851821899414,"y":670.6193571090698,"wires":[]},{"id":"833b1c53.a169d","type":"function","z":"1b185558.f6a2bb","name":"Qtde de pessoas","func":"context.global.cont = context.global.cont || 0;\ncontext.global.cont++;\nmsg.payload=context.global.cont;\nreturn msg;","outputs":1,"noerr":0,"x":583.51416015625,"y":222.15906715393066,"wires":[["f1466fd8.c3a35","80aa8358.f2e49"]]},{"id":"7747909d.20823","type":"switch","z":"1b185558.f6a2bb","name":"Only Media","property":"tweet.entities.media","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":247.01422119140625,"y":74.0056848526001,"wires":[["7126fc83.578344"]]},{"id":"7126fc83.578344","type":"switch","z":"1b185558.f6a2bb","name":"Only Photos","property":"tweet.entities.media.0.type","propertyType":"msg","rules":[{"t":"eq","v":"photo","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":447.0142478942871,"y":73.00568389892578,"wires":[["57840c1a.072bd4"],["b54af8f5.64c418"]]},{"id":"57840c1a.072bd4","type":"change","z":"1b185558.f6a2bb","name":"Send Image URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.entities.media.0.media_url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":673.5141906738281,"y":66.50568580627441,"wires":[["9ff7336c.b315b"]]},{"id":"802e574d.993ac8","type":"change","z":"1b185558.f6a2bb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.user.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":552.5198822021484,"y":387.5198745727539,"wires":[["6e480eb2.b35a5","6b2b727f.b7864c"]]},{"id":"6a33317b.c7d08","type":"change","z":"1b185558.f6a2bb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560.5198822021484,"y":306.96867656707764,"wires":[["85e7703f.8e59f","cfd6163e.58ec38"]]},{"id":"8d4308cf.2ef4c8","type":"inject","z":"1b185558.f6a2bb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":172.49999618530273,"y":569.0000228881836,"wires":[["b8e07abf.6780a8"]]},{"id":"b8e07abf.6780a8","type":"function","z":"1b185558.f6a2bb","name":"Zerar","func":"context.global.cont=1;\nreturn msg;","outputs":1,"noerr":0,"x":382.49999618530273,"y":569.0000228881836,"wires":[[]]},{"id":"a5fc6f21.1812e","type":"inject","z":"1b185558.f6a2bb","name":"","topic":"","payload":"Tire uma foto e tweet com #semeng2019","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":661.899974822998,"y":579.6000480651855,"wires":[["a974228f.c73af","a8aff770.3be1a8"]]},{"id":"f1466fd8.c3a35","type":"ui_gauge","z":"1b185558.f6a2bb","name":"","group":"5947e73b.641568","order":0,"width":0,"height":0,"gtype":"gage","title":"Interações","label":"Qtty","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890.5198707580566,"y":251.71873092651367,"wires":[]},{"id":"6b2b727f.b7864c","type":"ui_text","z":"1b185558.f6a2bb","group":"5947e73b.641568","order":0,"width":"6","height":"1","name":"","label":"Participante: ","format":"{{msg.payload}}","layout":"row-spread","x":844.5084686279297,"y":411.7357635498047,"wires":[]},{"id":"85e7703f.8e59f","type":"ui_text","z":"1b185558.f6a2bb","group":"5947e73b.641568","order":0,"width":"6","height":"4","name":"","label":"Tweet: ","format":"{{msg.payload}}","layout":"col-center","x":908.5170097351074,"y":287.7357611656189,"wires":[]},{"id":"a974228f.c73af","type":"ui_text","z":"1b185558.f6a2bb","group":"1104c388.119cac","order":0,"width":"6","height":"3","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":863.9000358581543,"y":558.4000310897827,"wires":[]},{"id":"80aa8358.f2e49","type":"ui_chart","z":"1b185558.f6a2bb","name":"","group":"5947e73b.641568","order":0,"width":0,"height":0,"label":"Qtde de acessos","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":903.6960487365723,"y":194.96875762939453,"wires":[[]]},{"id":"9ff7336c.b315b","type":"ui_template","z":"1b185558.f6a2bb","group":"eb7e1f17.b8dc3","name":"","order":0,"width":0,"height":0,"format":"<img src=\"{{msg.payload}}\" alt=\"usuario\" style=\"width:304px;height:228px;\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":958.519905090332,"y":64.63919258117676,"wires":[[]]},{"id":"a8aff770.3be1a8","type":"ui_template","z":"1b185558.f6a2bb","group":"1104c388.119cac","name":"","order":0,"width":"6","height":"5","format":"By Sergio Gama <br>\n\nYoutube: https://www.youtube.com/c/sergiogama\nFacebook: fb/sergiogama1967 <br>\nInstagran: sergiogma1967 <br>\nLinkedin: in/sergiogama <br>\nTwitter: @sergiorggama <br>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":869.3295478820801,"y":606.002857208252,"wires":[[]]},{"id":"6e480eb2.b35a5","type":"ui_text","z":"1b185558.f6a2bb","group":"eb7e1f17.b8dc3","order":0,"width":0,"height":0,"name":"","label":"Participante:","format":"{{msg.payload}}","layout":"row-spread","x":843.5000152587891,"y":368.0000057220459,"wires":[]},{"id":"52a95c76.4af2f4","type":"ui_template","z":"1b185558.f6a2bb","group":"eb7e1f17.b8dc3","name":"","order":0,"width":"0","height":"0","format":"<img src=\"{{msg.payload}}\" alt=\"usuario\" style=\"width:152px;height:114px;\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":503.0000343322754,"y":466.99999809265137,"wires":[[]]},{"id":"6bf2bdd5.4e17c4","type":"change","z":"1b185558.f6a2bb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.user.profile_image_url_https","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":273.50001525878906,"y":466.99998474121094,"wires":[["52a95c76.4af2f4"]]},{"id":"3c6341ac.14703e","type":"twitter out","z":"1b185558.f6a2bb","twitter":"","name":"Tweet","x":332.5000190734863,"y":341.0000162124634,"wires":[]},{"id":"b5c027d6.d4e3e8","type":"function","z":"1b185558.f6a2bb","name":"Direct Message","func":"msg.payload = \"D \" + msg.tweet.user.screen_name + \" Obrigado por participar do Você Conectado ao Futuro em apucarana, PR \" + msg.tweet.user.name + \"! By Sergio Gama, IBM\";\nreturn msg;","outputs":1,"noerr":0,"x":244.5,"y":250,"wires":[["3c6341ac.14703e","e121c29b.62b33"]]},{"id":"b54af8f5.64c418","type":"function","z":"1b185558.f6a2bb","name":"","func":"msg.payload = \"https://rlv.zcache.ca/sticker_sign_no_camera_allowed_classic_round_sticker-rbd8a658646e74b8ea3f487be36be639b_v9wth_8byvr_630.jpg\";\nreturn msg;","outputs":1,"noerr":0,"x":633.5000038146973,"y":118.00000381469727,"wires":[["9ff7336c.b315b"]]},{"id":"373d032c.d104fc","type":"inject","z":"1b185558.f6a2bb","name":"","topic":"","payload":"process.env.VCAP_SERVICES","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120.01420593261719,"y":25,"wires":[["bd0c1be9.f029d8"]]},{"id":"bd0c1be9.f029d8","type":"function","z":"1b185558.f6a2bb","name":"","func":"msg.payload = env.get(\"VCAP_SERVICES\");\nreturn msg;","outputs":1,"noerr":0,"x":285.0113945007324,"y":32.627845764160156,"wires":[["f1e7a15b.04126"]]},{"id":"7ae1d9e2.262648","type":"debug","z":"1b185558.f6a2bb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":574.0085487365723,"y":30.92613983154297,"wires":[]},{"id":"f1e7a15b.04126","type":"json","z":"1b185558.f6a2bb","name":"","property":"payload","action":"","pretty":false,"x":436.0142059326172,"y":32.747154235839844,"wires":[["7ae1d9e2.262648"]]},{"id":"cfd6163e.58ec38","type":"natural-language-understanding","z":"1b185558.f6a2bb","name":"","categories":false,"limitcategories":"3","concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":true,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"0","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-understanding/api","x":779.1107406616211,"y":474.48577785491943,"wires":[["7ae1d9e2.262648","ca0b541f.03a7c8"]]},{"id":"4414d643.8a6be8","type":"ui_text","z":"1b185558.f6a2bb","group":"ec568844.0c1f98","order":0,"width":"6","height":"8","name":"","label":"Relations and Entities","format":"{{msg.payload}}","layout":"col-center","x":1119.4715385437012,"y":381.7385950088501,"wires":[]},{"id":"ca0b541f.03a7c8","type":"change","z":"1b185558.f6a2bb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"features.relations","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010.4744110107422,"y":428.9545364379883,"wires":[["4414d643.8a6be8"]]},{"id":"e121c29b.62b33","type":"debug","z":"1b185558.f6a2bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":483.0170135498047,"y":146.17044830322266,"wires":[]},{"id":"5947e73b.641568","type":"ui_group","z":"","name":"Participantes","tab":"cfe5791c.330ea8","order":2,"disp":true,"width":"6","collapse":false},{"id":"1104c388.119cac","type":"ui_group","z":"","name":"Como participar","tab":"cfe5791c.330ea8","order":4,"disp":true,"width":"6","collapse":false},{"id":"eb7e1f17.b8dc3","type":"ui_group","z":"","name":"Foto enviada","tab":"cfe5791c.330ea8","order":1,"disp":true,"width":"6","collapse":false},{"id":"ec568844.0c1f98","type":"ui_group","z":"","name":"Watson NLU","tab":"cfe5791c.330ea8","order":3,"disp":true,"width":"6","collapse":false},{"id":"cfe5791c.330ea8","type":"ui_tab","z":"","name":"Tweet Dashboard","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
