Flow para uso de STT e TTS de Chatbot
[{"id":"8e25657a.89e248","type":"tab","label":"Audio","disabled":false,"info":""},{"id":"77d08b8f.ddc2c4","type":"link in","z":"8e25657a.89e248","name":"p_Audio","links":["5d46a6de.af33d8"],"x":155,"y":60,"wires":[["1d77fa8f.3ac365"]]},{"id":"5f46bfb2.65c2f","type":"watson-speech-to-text","z":"8e25657a.89e248","name":"","alternatives":"","speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"","band":"NarrowbandModel","bandhidden":"NarrowbandModel","keywords":"","keywords-threshold":"","word-confidence":false,"password":"","apikey":"KP4Vz-QBEU-74FOey_Fr81MUic9OiF1uLr3xm9Ic9Rsj","payload-response":true,"streaming-mode":false,"streaming-mute":false,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":false,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":500,"y":60,"wires":[["958d9a9e.603de8"]]},{"id":"958d9a9e.603de8","type":"link out","z":"8e25657a.89e248","name":"texto","links":["6391694b.8f7d68"],"x":635,"y":60,"wires":[]},{"id":"59e3304b.f0945","type":"function","z":"8e25657a.89e248","name":"","func":"msg.payload = msg.payload[0].text;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":160,"wires":[["ac5f39ae.d9ea88"]]},{"id":"ac5f39ae.d9ea88","type":"watson-text-to-speech","z":"8e25657a.89e248","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/wav","password":"","apikey":"nc60lPy0_5ldxD1DOBf2BwuOG_WPxoOwQ1lYl-llrbmo","payload-response":true,"default-endpoint":false,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":410.0716094970703,"y":160.67859363555908,"wires":[["998bec6b.a987d"]]},{"id":"998bec6b.a987d","type":"function","z":"8e25657a.89e248","name":"","func":"global.set(\"idAudio\",0);\nglobal.set(\"idAudio\", Math.floor((Math.random() * 100000000000) + 1));\nreturn msg;","outputs":1,"noerr":0,"x":568.9127807617188,"y":160.50398778915405,"wires":[["2adabde0.adfb62"]]},{"id":"ee1986c5.002c88","type":"function","z":"8e25657a.89e248","name":"","func":"var url = \"https://\" + msg.req.headers.host;\n\nif(!global.get(\"speech\"))\n{\n    global.set(\"speech\",[]);\n    global.set(\"speech[0]\",{_id:global.get(\"idAudio\").toString(),speech:msg.payload});\n}\nelse\n{\n    var pos;\n    pos = global.get(\"speech\").length;\n    global.set(\"speech[\" + pos + \"]\",{_id:global.get(\"idAudio\").toString(),speech:msg.payload});\n}\n\nmsg.payload = [{\"attachment\":{\n    \"type\":\"audio\",\n    \"payload\":{\"url\":url+ \"/facebook/resposta?audioid=\"+global.get(\"idAudio\").toString()}\n    }\n}];\nreturn msg;","outputs":1,"noerr":0,"x":384.24999237060547,"y":320.89286518096924,"wires":[["bd9b87cd.7b3228"]]},{"id":"3c1f0636.5484ea","type":"http in","z":"8e25657a.89e248","name":"","url":"/facebook/resposta","method":"get","upload":false,"swaggerDoc":"","x":230,"y":420,"wires":[["19af312b.5d0d6f"]]},{"id":"fe598558.886328","type":"http response","z":"8e25657a.89e248","name":"","statusCode":"","headers":{"content-type":"audio/mpeg3"},"x":751.0000038146973,"y":420.42852687835693,"wires":[]},{"id":"19af312b.5d0d6f","type":"change","z":"8e25657a.89e248","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.audioid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":451.7142639160156,"y":420.07142543792725,"wires":[["7c0008b6.075258"]]},{"id":"7c0008b6.075258","type":"function","z":"8e25657a.89e248","name":"","func":"for(var k in global.get(\"speech\")) {\n  if (global.get(\"speech\")[k]._id == msg.payload) \n    {\n      msg.payload = global.get(\"speech\")[k].speech;\n// Delete an item\n      global.get(\"speech\").splice(k,1);\n      break;\n    } \n  }\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload.audio, 'utf8');\n//return msg;","outputs":1,"noerr":0,"x":615.1190567016602,"y":420.4285430908203,"wires":[["fe598558.886328"]]},{"id":"d39c1715.797b98","type":"link in","z":"8e25657a.89e248","name":"Texto_TTS","links":["8501d313.2ff5c"],"x":155,"y":160,"wires":[["59e3304b.f0945"]]},{"id":"bd9b87cd.7b3228","type":"link out","z":"8e25657a.89e248","name":"Audio","links":["a88b3b2d.231178","2c9a47d8.1a4788"],"x":522.5,"y":321,"wires":[]},{"id":"1d77fa8f.3ac365","type":"ffmpeg-conversion","z":"8e25657a.89e248","name":"","format":"wav","audiochannels":"stereo","x":310.49721908569336,"y":59.599985122680664,"wires":[["5f46bfb2.65c2f"]]},{"id":"2adabde0.adfb62","type":"ffmpeg-conversion","z":"8e25657a.89e248","name":"","format":"mp3","audiochannels":"mono","x":730.8056221008301,"y":160.0039987564087,"wires":[["ee1986c5.002c88"]]}]
