Geolocation com Google API
[{"id":"74d93b4b.82daa4","type":"google geocoding","z":"e64f58b3.568258","name":"","geocodeBy":"address","address":"","lat":"","lon":"","googleAPI":"","bounds":"","language":"pt-BR","region":"","components":"","x":580,"y":360,"wires":[["6ac7e52f.f087ec"]]},{"id":"68d1e52c.7ceefc","type":"http in","z":"e64f58b3.568258","name":"","url":"/geolocation","method":"get","upload":false,"swaggerDoc":"","x":280,"y":440,"wires":[["aa2379c7.3f21c8"]]},{"id":"6ac7e52f.f087ec","type":"function","z":"e64f58b3.568258","name":"","func":"msg.payload = msg.data;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":440,"wires":[["f40fa816.f3c818"]]},{"id":"f40fa816.f3c818","type":"http response","z":"e64f58b3.568258","name":"","statusCode":"","headers":{},"x":890,"y":440,"wires":[]},{"id":"aa2379c7.3f21c8","type":"change","z":"e64f58b3.568258","name":"","rules":[{"t":"set","p":"location.address","pt":"msg","to":"req.query.endereco","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":440,"wires":[["74d93b4b.82daa4"]]}]
