Geolocation com Google API
[{"id":"74d93b4b.82daa4","type":"google geocoding","z":"e64f58b3.568258","name":"","geocodeBy":"address","address":"","lat":"","lon":"","googleAPI":"","bounds":"","language":"pt-BR","region":"","components":"","x":580,"y":360,"wires":[["6ac7e52f.f087ec","552a0b0d.7c9184"]]},{"id":"68d1e52c.7ceefc","type":"http in","z":"e64f58b3.568258","name":"","url":"/geolocation","method":"get","upload":false,"swaggerDoc":"","x":360,"y":440,"wires":[["aa2379c7.3f21c8"]]},{"id":"6ac7e52f.f087ec","type":"function","z":"e64f58b3.568258","name":"","func":"msg.payload = msg.data;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":420,"wires":[["f40fa816.f3c818"]]},{"id":"f40fa816.f3c818","type":"http response","z":"e64f58b3.568258","name":"","statusCode":"","headers":{},"x":880,"y":360,"wires":[]},{"id":"aa2379c7.3f21c8","type":"change","z":"e64f58b3.568258","name":"","rules":[{"t":"set","p":"location.address","pt":"msg","to":"req.query.endereco","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":400,"wires":[["74d93b4b.82daa4"]]},{"id":"552a0b0d.7c9184","type":"debug","z":"e64f58b3.568258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":320,"wires":[]},{"id":"bd0b473.df660b8","type":"inject","z":"e64f58b3.568258","name":"","topic":"","payload":"07121-390","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":300,"wires":[["50ff3391.ba3ccc"]]},{"id":"50ff3391.ba3ccc","type":"function","z":"e64f58b3.568258","name":"","func":"msg.location.address = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":360,"wires":[["74d93b4b.82daa4","552a0b0d.7c9184"]]}]
