node-red Sensor-tag.json
[{"id":"2eadb63f.f1f12a","type":"mqtt in","z":"c42ad214.32f42","name":"","topic":"sergiogama_gama-st","qos":"2","datatype":"auto","broker":"4fc6ff65.80503","nl":false,"rap":true,"rh":0,"x":120,"y":40,"wires":[["58a25175.b1b71"]]},{"id":"58a25175.b1b71","type":"json","z":"c42ad214.32f42","name":"","property":"payload","action":"","pretty":false,"x":310,"y":40,"wires":[["291a2a89.80e4c6","394b0a0c.6e4436","4c792138.79761","4dbffbc6.2bb934","29ca297a.ab3de6","cf2d14d8.d14c48","f537c43e.167528"]]},{"id":"4e2ac33.392c63c","type":"debug","z":"c42ad214.32f42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":460,"wires":[]},{"id":"291a2a89.80e4c6","type":"debug","z":"c42ad214.32f42","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":40,"wires":[]},{"id":"410c8061.b6bfd","type":"catch","z":"c42ad214.32f42","name":"","scope":null,"uncaught":false,"x":160,"y":460,"wires":[["4e2ac33.392c63c"]]},{"id":"dd0504c7.acf278","type":"ui_gauge","z":"c42ad214.32f42","name":"","group":"7e5cd0d6.0fa92","order":0,"width":0,"height":0,"gtype":"gage","title":"Luz","label":"LUX","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":140,"wires":[]},{"id":"394b0a0c.6e4436","type":"function","z":"c42ad214.32f42","name":"","func":"msg.payload = msg.payload.light;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":140,"wires":[["dd0504c7.acf278"]]},{"id":"1c9c5cbb.1637e3","type":"ui_chart","z":"c42ad214.32f42","name":"","group":"92320ac4.c0cca8","order":1,"width":0,"height":0,"label":"AcelerometroX","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":720,"y":300,"wires":[[]]},{"id":"29ca297a.ab3de6","type":"function","z":"c42ad214.32f42","name":"","func":"msg.payload = msg.payload.accelX;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":300,"wires":[["1c9c5cbb.1637e3"]]},{"id":"c4f5351d.5d1898","type":"ui_chart","z":"c42ad214.32f42","name":"","group":"92320ac4.c0cca8","order":1,"width":0,"height":0,"label":"AcelerometroY","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":720,"y":340,"wires":[[]]},{"id":"cf2d14d8.d14c48","type":"function","z":"c42ad214.32f42","name":"","func":"msg.payload = msg.payload.accelY;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":340,"wires":[["c4f5351d.5d1898"]]},{"id":"3cbfe8a9.2e1618","type":"ui_chart","z":"c42ad214.32f42","name":"","group":"92320ac4.c0cca8","order":1,"width":0,"height":0,"label":"AcelerometroZ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":720,"y":380,"wires":[[]]},{"id":"f537c43e.167528","type":"function","z":"c42ad214.32f42","name":"","func":"msg.payload = msg.payload.accelZ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":380,"wires":[["3cbfe8a9.2e1618"]]},{"id":"a14665fd.6aca88","type":"ui_gauge","z":"c42ad214.32f42","name":"","group":"7e5cd0d6.0fa92","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"Grados","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":180,"wires":[]},{"id":"4c792138.79761","type":"function","z":"c42ad214.32f42","name":"","func":"msg.payload = msg.payload.ambientTemp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":180,"wires":[["a14665fd.6aca88"]]},{"id":"adb732c8.eae35","type":"ui_switch","z":"c42ad214.32f42","name":"","label":"Alerta","tooltip":"","group":"7e5cd0d6.0fa92","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":690,"y":260,"wires":[[]]},{"id":"4dbffbc6.2bb934","type":"function","z":"c42ad214.32f42","name":"","func":"msg.payload = msg.payload.key1 || \"0\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":260,"wires":[["adb732c8.eae35","e75ef870.2db828"]]},{"id":"3b218d77.61ce52","type":"ui_audio","z":"c42ad214.32f42","name":"","group":"7e5cd0d6.0fa92","voice":"Paulina","always":"","x":840,"y":220,"wires":[]},{"id":"e75ef870.2db828","type":"function","z":"c42ad214.32f42","name":"","func":"alerta = context.flow.get(\"alerta\") || false;\nboton = msg.payload;\nif(boton == \"1\" && alerta == false)\n{\n    msg.payload = \"alerta en ubicación 1\";\n    context.flow.set(\"alerta\",true);\n    return msg;\n}\ncontext.flow.set(\"alerta\", boton == \"1\" ? true : false);\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":220,"wires":[["3b218d77.61ce52"]]},{"id":"3dde88ea.4eab08","type":"function","z":"c42ad214.32f42","name":"","func":"if(msg.payload.light>50)\n{\n    msg.payload = \"Ladrão de geladeira\";\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":540,"wires":[["e6b7e11f.7b1e9"]]},{"id":"e6b7e11f.7b1e9","type":"ui_audio","z":"c42ad214.32f42","name":"","group":"7e5cd0d6.0fa92","voice":"Luciana","always":"","x":860,"y":540,"wires":[]},{"id":"4fc6ff65.80503","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7e5cd0d6.0fa92","type":"ui_group","name":"Ambiente","tab":"a461b13.bc0515","order":1,"disp":true,"width":"6","collapse":false},{"id":"92320ac4.c0cca8","type":"ui_group","name":"Acelerometro","tab":"a461b13.bc0515","order":2,"disp":true,"width":"6","collapse":false},{"id":"a461b13.bc0515","type":"ui_tab","name":"IoT","icon":"dashboard","order":1,"disabled":false,"hidden":false}]