WA com NLU STT e TTS
[{"id":"5cfc9cca.6b6174","type":"tab","label":"Assistant + NLU","disabled":false,"info":""},{"id":"7fa330a0.867a6","type":"natural-language-understanding","z":"5cfc9cca.6b6174","name":"","categories":false,"concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":true,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-understanding/api","x":816,"y":245.33334255218506,"wires":[["8137a13a.2fe81"]]},{"id":"bc9ba25f.fe6ce","type":"function","z":"5cfc9cca.6b6174","name":"Personalized Model","func":"msg = \n{nlu_options:{entity_model:\"10:29666046-89fe-4699-b792-15ec409b5107\"},\n              relations_model:\"10:29666046-89fe-4699-b792-15ec409b5107\",\npayload:msg.payload    \n};\nreturn msg;","outputs":1,"noerr":0,"x":549.9999885559082,"y":244.3333387374878,"wires":[["7fa330a0.867a6"]]},{"id":"2c4edc09.480604","type":"http in","z":"5cfc9cca.6b6174","name":"","url":"/unimed","method":"get","upload":false,"swaggerDoc":"","x":110.33333587646484,"y":243.00001430511475,"wires":[["22a989d5.151e16"]]},{"id":"22a989d5.151e16","type":"change","z":"5cfc9cca.6b6174","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.mensagem","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":298.00001525878906,"y":242.99999809265137,"wires":[["bc9ba25f.fe6ce"]]},{"id":"b5db0f75.b5d36","type":"watson-conversation-v1","z":"5cfc9cca.6b6174","name":"","workspaceid":"e84e9b89-6478-46db-9e9b-7666f4d5b661","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","x":408.3333206176758,"y":375.6666784286499,"wires":[["b518064d.f280a8"]]},{"id":"b518064d.f280a8","type":"function","z":"5cfc9cca.6b6174","name":"Response","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":577.9999809265137,"y":376.33334159851074,"wires":[["1e24b84c.81b228","dfeda07d.b08f"]]},{"id":"1e24b84c.81b228","type":"http response","z":"5cfc9cca.6b6174","name":"","statusCode":"","headers":{},"x":748.0000419616699,"y":375.9999990463257,"wires":[]},{"id":"8137a13a.2fe81","type":"function","z":"5cfc9cca.6b6174","name":"Add a variable to the context","func":"var a = msg.payload;\nfor(x=0;x<msg.features.entities.length;x++)\n{\n if(msg.features.entities[x].type == \"Cidade\")  \n {\n     msg = {additional_context:{\"Cidade\":msg.features.entities[x].text},features:msg.features\n     };\n }\n node.send(msg);\n}\nmsg.payload = a;\nreturn msg;","outputs":1,"noerr":0,"x":173.16665649414062,"y":375.33336544036865,"wires":[["b5db0f75.b5d36"]]},{"id":"42aa8f40.1893e","type":"watson-speech-to-text","z":"5cfc9cca.6b6174","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"","langcustom":"","langcustomhidden":"","band":"NarrowbandModel","bandhidden":"","password":"jsguPZhqoTaP","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":293.50000762939453,"y":171.6666774749756,"wires":[["bc9ba25f.fe6ce"]]},{"id":"dfeda07d.b08f","type":"watson-text-to-speech","z":"5cfc9cca.6b6174","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/wav","password":"F18rcc1aaIBD","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":557.5000152587891,"y":450.3333110809326,"wires":[["9a221ac3.7f9b68"]]},{"id":"e3a31968.81e548","type":"microphone","z":"5cfc9cca.6b6174","name":"","x":107.49999999999999,"y":171.66666666666663,"wires":[["42aa8f40.1893e"]]},{"id":"9a221ac3.7f9b68","type":"play audio","z":"5cfc9cca.6b6174","name":"","voice":"","x":748.1667175292969,"y":450.6667013168335,"wires":[]}]
