wa-telegram-stt-tts
[
    {
        "id": "792ac52b198f8bde",
        "type": "subflow",
        "name": "Tradutor",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "0d1af12374e7d750"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 760,
                "y": 20,
                "wires": [
                    {
                        "id": "cffadc551a6b7dab",
                        "port": 0
                    },
                    {
                        "id": "ba1b8adfd3688e24",
                        "port": 0
                    },
                    {
                        "id": "6e88d8407d2857d4",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "97a2928aea0671ed",
        "type": "watson-language-translator-identify",
        "z": "792ac52b198f8bde",
        "name": "",
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/e0759a16-77f3-44c8-a30b-5348a4c9a54e",
        "x": 330,
        "y": 40,
        "wires": [
            [
                "ba1b8adfd3688e24"
            ]
        ]
    },
    {
        "id": "ba1b8adfd3688e24",
        "type": "function",
        "z": "792ac52b198f8bde",
        "name": "function 12",
        "func": "if(msg.lang.language != \"en\"){\n    global.set(\"lang\",\"pt\");\n    return [msg,null];\n}\nelse {\n    global.set(\"lang\",\"en\");\n    msg.srclang = msg.lang.language;\n    msg.destlang = \"pt\";\n    return [null,msg];\n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 40,
        "wires": [
            [],
            [
                "cffadc551a6b7dab"
            ]
        ]
    },
    {
        "id": "cffadc551a6b7dab",
        "type": "watson-translator",
        "z": "792ac52b198f8bde",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "en",
        "destlang": "pt",
        "apikey": "O83UUiHvp4mbjTtTapzMiZ8b_7IW234oWr8tIe19P1yf",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "en",
        "destlanghidden": "pt",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/e0759a16-77f3-44c8-a30b-5348a4c9a54e",
        "x": 470,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "0d1af12374e7d750",
        "type": "switch",
        "z": "792ac52b198f8bde",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Entrada",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Saida",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "97a2928aea0671ed"
            ],
            [
                "6e88d8407d2857d4"
            ]
        ]
    },
    {
        "id": "6e88d8407d2857d4",
        "type": "function",
        "z": "792ac52b198f8bde",
        "name": "function 13",
        "func": "var lang = global.get(\"lang\") || \"pt\";\nif(lang == \"pt\")\n    return [msg,null];\nelse {\n    msg.srclang = \"pt\";\n    msg.destlang = \"en\";\n    return [null,msg];\n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 220,
        "wires": [
            [],
            [
                "cffadc551a6b7dab"
            ]
        ]
    },
    {
        "id": "2283cac4a664dd57",
        "type": "telegram receiver",
        "z": "2167fdd22f20533b",
        "name": "",
        "bot": "e38982b38d4227f7",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 120,
        "y": 360,
        "wires": [
            [
                "02b267465ab11595"
            ],
            [
                "51589c96781b03f9"
            ]
        ]
    },
    {
        "id": "793036674f6b46b6",
        "type": "telegram sender",
        "z": "2167fdd22f20533b",
        "name": "",
        "bot": "e38982b38d4227f7",
        "haserroroutput": false,
        "outputs": 1,
        "x": 940,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "51589c96781b03f9",
        "type": "function",
        "z": "2167fdd22f20533b",
        "name": "Usuário não autorizado",
        "func": "msg.payload.type = \"message\";\nmsg.payload.content = \"Você não está autorizado, \" + msg.originalMessage.from.first_name;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 360,
        "wires": [
            [
                "793036674f6b46b6"
            ]
        ]
    },
    {
        "id": "d509b1f713084493",
        "type": "comment",
        "z": "2167fdd22f20533b",
        "name": "",
        "info": "Instalar node-red-contrib-telegrambot\n\n",
        "x": 110,
        "y": 100,
        "wires": []
    },
    {
        "id": "5b77effbcf56edad",
        "type": "watson-conversation-v1",
        "z": "2167fdd22f20533b",
        "name": "",
        "workspaceid": "2a628c55-5c2c-4c91-af6d-7f109708b6af",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/81b32a79-de24-4f06-957b-f191bc7c1246",
        "timeout": "",
        "optout-learning": false,
        "x": 540,
        "y": 100,
        "wires": [
            [
                "0fc3a2be3c49ab1d",
                "3d8f4bc14d2667aa"
            ]
        ]
    },
    {
        "id": "7980bf96f59d88c0",
        "type": "change",
        "z": "2167fdd22f20533b",
        "name": "Texto",
        "rules": [
            {
                "t": "set",
                "p": "telegram",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "telegram.content",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Entrada",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 100,
        "wires": [
            [
                "1e332edaa4f10e24"
            ]
        ]
    },
    {
        "id": "f0f29353281a6339",
        "type": "change",
        "z": "2167fdd22f20533b",
        "name": "Texto",
        "rules": [
            {
                "t": "set",
                "p": "telegram.content",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "telegram",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 200,
        "wires": [
            [
                "793036674f6b46b6"
            ]
        ]
    },
    {
        "id": "a41f1893c4694c22",
        "type": "watson-speech-to-text",
        "z": "2167fdd22f20533b",
        "name": "Voz para texto",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "ShortForm",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "Jegc_ewvuqESEdef65wJUPjaT_39TlAAMxIZElUFEH4H",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/94e42c1e-33c9-4a78-8747-3f8b95f5277a",
        "x": 380,
        "y": 140,
        "wires": [
            [
                "5b77effbcf56edad"
            ]
        ]
    },
    {
        "id": "facbc5efc9732788",
        "type": "watson-text-to-speech",
        "z": "2167fdd22f20533b",
        "name": "Texto para voz",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "pt-BR_IsabelaV3Voice",
        "format": "audio/wav",
        "password": "",
        "apikey": "0oqR26ZhJeLA6tK6rA8ZnP9MaWBnLY6uY8FfLZIGM_CN",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/0135093c-20b6-4d86-8c23-1f6b8fe072a7",
        "x": 780,
        "y": 200,
        "wires": [
            [
                "773b63b81951c3aa"
            ]
        ]
    },
    {
        "id": "02b267465ab11595",
        "type": "switch",
        "z": "2167fdd22f20533b",
        "name": "Tipo mensagem",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "7980bf96f59d88c0"
            ],
            [
                "c52e2c42050eb458"
            ],
            [
                "a8dadeabfb93ea0c"
            ]
        ]
    },
    {
        "id": "c52e2c42050eb458",
        "type": "change",
        "z": "2167fdd22f20533b",
        "name": "Voz",
        "rules": [
            {
                "t": "set",
                "p": "telegram",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "telegram.weblink",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "81a240c246b56e92"
            ]
        ]
    },
    {
        "id": "81a240c246b56e92",
        "type": "http request",
        "z": "2167fdd22f20533b",
        "name": "Extrai audio",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 200,
        "wires": [
            [
                "a41f1893c4694c22"
            ]
        ]
    },
    {
        "id": "0fc3a2be3c49ab1d",
        "type": "switch",
        "z": "2167fdd22f20533b",
        "name": "Tipo resposta",
        "property": "telegram.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 700,
        "y": 100,
        "wires": [
            [
                "6d9d364d9e583d2b"
            ],
            [
                "44cd4786f89c8610"
            ]
        ]
    },
    {
        "id": "44cd4786f89c8610",
        "type": "change",
        "z": "2167fdd22f20533b",
        "name": "Voz",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.output.generic[0].text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 160,
        "wires": [
            [
                "facbc5efc9732788"
            ]
        ]
    },
    {
        "id": "773b63b81951c3aa",
        "type": "change",
        "z": "2167fdd22f20533b",
        "name": "Recupera estado",
        "rules": [
            {
                "t": "set",
                "p": "telegram.content",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "telegram",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 260,
        "wires": [
            [
                "793036674f6b46b6"
            ]
        ]
    },
    {
        "id": "a8dadeabfb93ea0c",
        "type": "function",
        "z": "2167fdd22f20533b",
        "name": "Formato não aceito",
        "func": "msg.payload.type = \"message\";\nmsg.payload.content = \"Infelizmente não trato este tipo de mensagem\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 460,
        "wires": [
            [
                "793036674f6b46b6"
            ]
        ]
    },
    {
        "id": "1e332edaa4f10e24",
        "type": "subflow:792ac52b198f8bde",
        "z": "2167fdd22f20533b",
        "name": "",
        "env": [
            {
                "name": "topic",
                "value": "{\"uso\":\"Entrada\"}",
                "type": "json"
            }
        ],
        "x": 400,
        "y": 100,
        "wires": [
            [
                "5b77effbcf56edad",
                "3d8f4bc14d2667aa"
            ]
        ]
    },
    {
        "id": "630f71157e17c927",
        "type": "subflow:792ac52b198f8bde",
        "z": "2167fdd22f20533b",
        "name": "",
        "env": [
            {
                "name": "topic",
                "value": "{\"uso\":\"Saida\"}",
                "type": "json"
            }
        ],
        "x": 1040,
        "y": 100,
        "wires": [
            [
                "f0f29353281a6339"
            ]
        ]
    },
    {
        "id": "6d9d364d9e583d2b",
        "type": "function",
        "z": "2167fdd22f20533b",
        "name": "function 14",
        "func": "msg.payload = msg.payload.output.generic[0].text;\nmsg.topic = \"Saida\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 100,
        "wires": [
            [
                "630f71157e17c927"
            ]
        ]
    },
    {
        "id": "3d8f4bc14d2667aa",
        "type": "debug",
        "z": "2167fdd22f20533b",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 480,
        "wires": []
    },
    {
        "id": "e38982b38d4227f7",
        "type": "telegram bot",
        "botname": "gama-fiap2",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]
