Webhook para Facebook
[{"id":"a64ba37d.34bb7","type":"tab","label":"FaceBook WebHook","disabled":false,"info":""},{"id":"dd8d97e9.3e2d78","type":"http in","z":"a64ba37d.34bb7","name":"Webhook","url":"/webhook","method":"get","upload":false,"swaggerDoc":"","x":105,"y":56,"wires":[["50a3d9e7.2383c8","1e4b998.670a467"]]},{"id":"50a3d9e7.2383c8","type":"function","z":"a64ba37d.34bb7","name":"Validacao do Token","func":"var mode = '';\nvar vtoken = '';\nvar challenge = '';\nif (msg.payload['hub.mode'])\n{   \n    mode = msg.payload['hub.mode'];\n    \n}\nif (msg.payload['hub.verify_token'])\n{\n    vtoken = msg.payload['hub.verify_token']; \n    \n}\nif (msg.payload['hub.challenge'])\n{\n    challenge = msg.payload['hub.challenge']; \n    \n}\nif ('subscribe' == mode &&'EsteEhOMeuTokenPessoalSergioGama' == vtoken) \n{   \n    msg.payload = challenge;\n}\nreturn msg;","outputs":1,"noerr":0,"x":307,"y":113,"wires":[["d58012c2.a0bdd","1e4b998.670a467"]]},{"id":"d58012c2.a0bdd","type":"http response","z":"a64ba37d.34bb7","name":"","x":519,"y":113,"wires":[]},{"id":"dc0b708d.214ba","type":"http in","z":"a64ba37d.34bb7","name":"Mensagem Facebook","url":"/webhook","method":"post","upload":false,"swaggerDoc":"","x":142,"y":226,"wires":[["24673b35.bc8a14"]]},{"id":"24673b35.bc8a14","type":"function","z":"a64ba37d.34bb7","name":"Pega mensagem","func":"if (msg.payload.object && 'page' == msg.payload.object) \n{     \n    if (msg.payload.entry)    \n    {         \n        var entry = msg.payload.entry;         \n        for (var i = 0; i < entry.length; i++)         \n        {             \n            var pageID = entry[i].id;             \n            var timeOfEvent = entry[i].time;             \n            var messaging = entry[i].messaging             \n            for (var j =0; j < messaging.length; j++)             \n            {                 \n                if (messaging[j].message)                 \n                {                     \n                    msg.messagingEvent = messaging[j];                     \n                    node.send([msg,null]);                \n                    \n                }                              \n                \n            }        \n            \n        }    \n        \n    } \n    \n}\nreturn [null,msg];","outputs":"2","noerr":0,"x":347,"y":282,"wires":[["1b2ac4c1.233dbb"],["41ce1f28.1762e"]]},{"id":"1e4b998.670a467","type":"debug","z":"a64ba37d.34bb7","name":"","active":true,"console":"false","complete":"true","x":401,"y":56,"wires":[]},{"id":"ad9ee264.28fb7","type":"http response","z":"a64ba37d.34bb7","name":"","x":551.4285888671875,"y":535.4285736083984,"wires":[]},{"id":"41ce1f28.1762e","type":"debug","z":"a64ba37d.34bb7","name":"","active":true,"console":"false","complete":"true","x":750,"y":260,"wires":[]},{"id":"1b2ac4c1.233dbb","type":"function","z":"a64ba37d.34bb7","name":"Pega Msg do Facebook","func":"msg.fromMessenger = true;\nmsg.payload = msg.messagingEvent.message.text; \n//msg.user = msg.messagingEvent.sender.id;\nreturn msg;","outputs":1,"noerr":0,"x":578,"y":305,"wires":[["fb12b821.043b18","41ce1f28.1762e"]]},{"id":"d4f17a61.f95388","type":"function","z":"a64ba37d.34bb7","name":"Configura resposta","func":"msg.facebookevent = msg.messagingEvent;   \nreturn msg;","outputs":1,"noerr":0,"x":349.50006103515625,"y":454.0000648498535,"wires":[["196dc60c.72062a","ad9ee264.28fb7"]]},{"id":"196dc60c.72062a","type":"debug","z":"a64ba37d.34bb7","name":"","active":true,"console":"false","complete":"true","x":529.5000610351562,"y":454.0000648498535,"wires":[]},{"id":"6ee560d9.90b03","type":"function","z":"a64ba37d.34bb7","name":"Pega resposta do Conversation","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":624.2857055664062,"y":390.0000057220459,"wires":[["d4f17a61.f95388"]]},{"id":"fb12b821.043b18","type":"watson-conversation-v1","z":"a64ba37d.34bb7","name":"","workspaceid":"1ce9bef8-2d1e-4209-94ca-54d55e6330b0","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api/v1","x":310.42858123779297,"y":390.2857246398926,"wires":[["6ee560d9.90b03"]]},{"id":"72c0d5e9.e5992c","type":"http in","z":"a64ba37d.34bb7","name":"","url":"/politicadeprivacidade","method":"get","upload":false,"swaggerDoc":"","x":150,"y":600,"wires":[["75792f23.e894c"]]},{"id":"75792f23.e894c","type":"function","z":"a64ba37d.34bb7","name":"","func":"msg.payload = \"By Sergio Gama\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":600,"wires":[["747122a.96918dc"]]},{"id":"747122a.96918dc","type":"http response","z":"a64ba37d.34bb7","name":"","statusCode":"","headers":{},"x":630,"y":600,"wires":[]}]
